@charset "utf-8";
html,body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #f0f0f0;
}
.flex {
    display: flex;
    display: -webkit-flex;
}
/* 页面布局 */
.view-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.wrapper {
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/* header部分 */
.header {
    overflow: hidden;
    background-color: #fff;
    
}
/* banner */
.card-content {
    padding: 0.26rem 0 0;
}
/* 剩余流量 */
.hearer-inf {
    justify-content: space-around;
    padding: 0.15rem 0 0.2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px -2px rgba(153, 153, 153, .5);
}
.hearer-inf-box {
    flex-grow: 1;
    border-right: 1px solid #eeeeee;
}
.hearer-inf-box:last-child {
    border-right: none;
}
.inf-text {
    margin-bottom: 0.1rem;
    font-size: 0.26rem;
    color: #666;
}
.inf-num {
    font-size: 0.26rem;
    color: #333;
}
.inf-num span {
    font-size: 0.28rem;
    color: #2196f3;
    font-weight: 700;
}
/* 日历 */
.calendar {
    padding: 0 0.5rem;
    font-size: 0.24rem;
    color: #333;
    line-height: 0.73rem;
    justify-content: space-between;
}
.calendar-now {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
}
.icon-calendar {
    width: 0.35rem;
    height: 0.35rem;
    padding-top: 3px;
    margin-right: 0.2rem;
    background-image: url("../images/icon-rili.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
}
/* 侧边栏 */
.siderbar {
    width: 20%;
    height: 100%;
    box-shadow: 5px 0 10px -5px rgba(153, 153, 153, .5);
    z-index: 10;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.siderbar ul {
    background-color: #fff;
}
.content-body {
    width: 80%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.siderbar .icon-solid {
    display: block;
    width: 100%;
    height: 1px;
    background-image: url('../images/border.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.siderbar li .icon {
    display: block;
    width: 100%;
    height: 1.28rem;
    background-image: url('../images/icon-side.jpg');
    background-repeat: no-repeat;
    background-size: 14.4rem 2.56rem;
}
.siderbar li .icon-4g {
    background-position: 0 0;
}
.siderbar li .icon-yb {
    background-position: -1.44rem 0;
}
.siderbar li .icon-zc {
    background-position: -2.88rem 0;
}
.siderbar li .icon-spb {
    background-position: -4.32rem 0;
}
.siderbar li .icon-jyb {
    background-position: -5.76rem 0;
}
.siderbar li .icon-kcb {
    background-position: -7.2rem 0;
}
.siderbar li .icon-jrb {
    background-position: -8.64rem 0;
}
.siderbar li .icon-dtb {
    background-position: -10.08rem 0;
}
.siderbar li .icon-gmb {
    background-position: -12.96rem 0;
}
.siderbar li.act .icon-4g {
    background-position: 0 -1.28rem;
}
.siderbar li.act .icon-yb {
    background-position: -1.44rem -1.28rem;
}
.siderbar li.act .icon-zc {
    background-position: -2.88rem -1.28rem;
}
.siderbar li.act .icon-spb {
    background-position: -4.32rem -1.28rem;
}
.siderbar li.act .icon-jyb {
    background-position: -5.76rem -1.28rem;
}
.siderbar li.act .icon-kcb {
    background-position: -7.2rem -1.28rem;
}
.siderbar li.act .icon-jrb {
    background-position: -8.64rem -1.28rem;
}
.siderbar li.act .icon-dtb {
    background-position: -10.08rem -1.28rem;
}
.siderbar li.act .icon-gmb {
    background-position: -12.96rem -1.28rem;
}
/* 内容 */
.item-section {
    padding: 0 0.3rem 0.2rem;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
}
.content-item {
    min-height: 100%;
    background-color: #fff;
}
.content-bg {
    height: 0.2rem;
    background-color: #f0f0f0;
}
.item-section .title-h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.15rem;
    font-size: 0.32rem;
}
.item-section .title-tip {
    font-size: 0.24rem;
    color: #666;
    margin-bottom: 0.25rem;
}
.item-section-list,
.item-section-list-na {
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-section-list {
    height: 3.56rem;
    overflow: hidden;
}
.item-section-list li,
.item-section-list-na li {
    position: relative;
    width: 2.58rem;
    margin-bottom: 0.2rem;
    border-radius: 0.1rem;
    overflow: hidden;
}
.item-section-list li .tag,
.item-section-list-na li .tag  {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.76rem;
    height: 0.28rem;
    color: #fff;
    border-radius: 0 0.1rem 0 0.1rem;
    background-color: #f44336;
    font-size: 0.20rem;
    text-align: center;
    line-height: 0.28rem;
}
.item-section-list a,
.item-section-list-na a {
    display: block;
    border-radius: 0.1rem;
    overflow: hidden;
}
.item-section-list .jj,
.item-section-list-na .jj {
    padding-top: 0.33rem;
    padding-bottom: 0.15rem;
    text-align: center;
}
.item-section-list .md,
.item-section-list-na .md {
    padding: 0.12rem 0;
    color: #fff;
    font-size: 0.24rem;
}
.item-section-list .md .font-20,
.item-section-list-na .md .font-20 {
    font-size: 0.2rem;
}
.item-section-list .md .font-18,
.item-section-list-na .md .font-18 {
    font-size: 0.18rem;
}
.pack-name .font-28 {
    font-size: 0.28rem;
}
.pack-jj {
    margin-top: 0.1rem;
    font-size: 0.24rem;
}
.pack-name {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.28rem;
}
.pack-name .solid {
    width: 0.3rem;
    height: 1px;
    background-color: #2196f3;
}
.pack-name .solid.l {
    margin-right: 0.25rem;
}
.pack-name .solid.r {
    margin-left: 0.25rem;
}
.more-a {
    text-align: right;
    font-size: 0.2rem;
}
.more-a a {
    color: #f00;
}
.now-btn {
    width: 3.0rem;
    height: 0.7rem;
    padding-top: 0.2rem;
    color: #fff;
    text-align: center;
    margin: 0.15rem auto 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
/* 主题色  */
/* 蓝色 */
.item-section.blue .md {
    background-color: #2196f3;
}
.item-section.blue .jj {
    background-color: #e3f2fd;
}
.item-section.blue .jj  .pack-name {
    color: #2196f3;
}
.item-section.blue .jj  .pack-jj {
    color: #2196f3;
}
.item-section.blue .now-btn {
    background-image: url("../images/btn_04.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.item-section.blue .title-h4 {
    color: #2196f3;
}
.item-section.blue .pack-name .solid {
    background-color: #2196f3;
}
.item-section .tag {
    background-color: #f44336;
}

.item-section.orange .md {
    background-color: #ff9800;
}
.item-section.orange .jj {
    background-color: #fff3e0;
}
.item-section.orange .jj  .pack-name {
    color: #ff9800;
}
.item-section.orange .jj  .pack-jj {
    color: #ff9800;
}
.item-section.orange .now-btn {
    background-image: url("../images/btn_03.png");
}
.item-section.orange .title-h4 {
    color: #ff9800;
}
.item-section.orange .pack-name .solid {
    background-color: #ff9800;
}
.item-section .tag {
    background-color: #f44336;
}


.item-section.green .md {
    background-color: #4caf50;
}
.item-section.green .jj {
    background-color: #e8f5e9;
}
.item-section.green .jj  .pack-name {
    color: #4caf50;
}
.item-section.green .jj  .pack-jj {
    color: #4caf50;
}
.item-section.green .now-btn {
    background-image: url("../images/btn_05.png");
}
.item-section.green .title-h4 {
    color: #4caf50;
}
.item-section.green .pack-name .solid {
    background-color: #4caf50;
}
.item-section.green .tag {
    background-color: #f44336;
}

.item-section.red .md {
    background-color: #f44336;
}
.item-section.red .jj {
    background-color: #ffebee;
}
.item-section.red .jj  .pack-name {
    color: #f44336;
}
.item-section.red .jj  .pack-jj {
    color: #f44336;
}
.item-section.red .now-btn {
    background-image: url("../images/btn_01.png");
}
.item-section.red .title-h4 {
    color: #f44336;
}
.item-section.red .pack-name .solid {
    background-color: #f44336;
}
.item-section.red .tag {
    background-color: #f44336;
}

.item-section.sea .md {
    background-color: #00bcd4;
}
.item-section.sea .jj {
    background-color: #e0f7fa;
}
.item-section.sea .jj  .pack-name {
    color: #00bcd4;
}
.item-section.sea .jj  .pack-jj {
    color: #00bcd4;
}
.item-section.sea .now-btn {
    background-image: url("../images/btn_02.png");
}
.item-section.sea .title-h4 {
    color: #00bcd4;
}
.item-section.sea .pack-name .solid {
    background-color: #00bcd4;
}
.item-section.sea .tag {
    background-color: #f44336;
}

.item-section.gj li {
    height: 1.8rem;
    background-image: url("../images/img_01.jpg");
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item-section.gj li.c-one {
    background-image: url("../images/img_01.jpg");
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item-section.gj li.c-two {
    background-image: url("../images/img_02.jpg");
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item-section.gj li.c-three {
    background-image: url("../images/img_03.jpg");
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item-section.gj li.c-four {
    background-image: url("../images/img_04.jpg");
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item-section.gj h4 {
    color: #2196f3;
}
.item-section.gj .now-btn {
    background-image: url("../images/btn_04.png");
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item-section.gj li a {
    position: relative;
    width: 100%;
    height: 100%;
}
.item-section.gj li .bg-box {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    padding: 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-box .gj-name {
    font-size: 0.22rem;
    color: #fff;
}
.bg-box .gj-price {
    font-size: 0.20rem;
    color: #fff;
    margin: 3px 0;
}
.bg-box .gj-tip {
    font-size: 0.18rem;
    color: #f00;
}
.header .swiper-container {
    width: 100%;
}
.header .swiper-container a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.header .swiper-container a img {
    display: block;
    width: 100%;

}
.header .swiper-slide {
    width: 6.5rem !important;

}
.count-day {
    color: #f00;
}
.card-shadow {
    height: 0.48rem;
    width: 100%;
    background: url("../images/shadow_02.png") no-repeat left top;
    background-size: 100% 100%;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
}
.l-pop {
    /* display: none; */
    position: fixed;
    bottom: -4.3rem;
    left: 0;
    width: 100%;
    z-index: 150;
    background-color: #fff;
}
.l-pop-content {
    padding: 0 0.3rem;
    border: 1px solid #e5e5e5;
}
.l-pop-content.noborder {
    border: none;
}
.l-pop-inf {
    width: 4.7rem;
    text-align: left;
}
.l-pop-inf a {
    margin-bottom: 0.15rem;
    font-size: 0.28rem;
    color: #2196f3;
}
.l-pop-price {
    width: 2.2rem;
    text-align: right;
    color: #ff0000;
    font-size: 0.28rem;
}
.l-pop-price span {
    font-size: 0.72rem;
}
.l-pop-content .pop-pack-name {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.34rem;
    font-weight: 700;
    color: #333;
}
.l-pop-title {
    line-height: 0.6rem;
    font-size: 0.28rem;
    color: #666666;
}
.sx-btn {
    display: block;
    width: 2.18rem;
    height: 0.6rem;
    margin-bottom: 0.38rem;
    line-height: 0.6rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #2196f3;
    color: #2196f3;
    font-size: 0.3rem;
}
.l-pop-footer div {
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.3rem;
}
.l-pop-footer div.cancel {
    color: #999;
    background-color: #ededed;
}
.l-pop-footer div.enter {
    color: #fff;
    background-color: #2196f3;
}
.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    display: none;
}
.model .model-content {
    width: 5.5rem;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
.model .model-title {
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: #2196f3;
    font-size: 0.48rem;
    background-color: #e3f2fd;
    background-image: url("../images/icon_01.png");
    background-repeat: no-repeat;
    background-position: -0.4rem 0.2rem;
    background-size: 1.42rem 1.09rem;
}
.model .model-body {
    padding: 0.3rem;
    line-height: 1.5em;
    background-color: #fff;
}
.model .model-body p {
    font-size: 0.3rem;
    color: #333;
}
.model-footer div {
    width: 50%;
    font-size: 0.36rem;
    text-align: center;
    line-height: 1rem;
}
.model-footer div.cancel {
    color: #999;
    background-color: #ededed;
}
.model-footer div.enter {
    color: #fff;
    background-color: #2196f3;
}
/* 查看更多 */
.more-text {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.22rem;
    color: #999;
    margin-top: 0.1rem;
}
.more-text i {
    width: 0.15rem;
    height: 0.3rem;
    margin-left: 0.1rem;
    background: url("../images/icon_02.png") no-repeat center;
    background-size: 100% auto;
}
